<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ modoEdicao ? 'Editar Contato' : 'Novo Contato' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card class="form-card">
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        <ion-icon name="person-circle-outline" class="form-avatar"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="contatoForm" (ngSubmit)="submit()">

        <!-- Nome -->
        <ion-item lines="inset" class="input-item" [disabled]="!modoEdicao">
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>

        <!-- Telefone -->
        <ion-item lines="inset" class="input-item" [disabled]="!modoEdicao">
          <ion-label position="floating">Telefone</ion-label>
          <ion-input formControlName="telefone" type="tel" inputmode="numeric"></ion-input>
        </ion-item>
        <ion-note slot="helper" color="danger"
          *ngIf="contatoForm.controls['telefone'].invalid && contatoForm.controls['telefone'].touched">
          O telefone deve conter exatamente 11 dígitos numéricos.
        </ion-note>

        <!-- Email -->
        <ion-item lines="inset" class="input-item" [disabled]="!modoEdicao">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <!-- Botões -->
        <div class="ion-margin-top">
          <!-- Visualização -->
          <div *ngIf="!modoEdicao">
            <ion-button expand="block" color="primary" (click)="iniciarEdicao()">
              <ion-icon name="create-outline" slot="start"></ion-icon>
              Editar Contato
            </ion-button>

            <ion-button expand="block" fill="clear" routerLink="/lista-contato">
              <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
              Voltar
            </ion-button>
          </div>

          <!-- Edição -->
          <div *ngIf="modoEdicao">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button expand="block" type="submit" color="success">
                    <ion-icon name="save-outline" slot="start"></ion-icon>
                    Salvar
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" color="warning" (click)="cancelarEdicao()">
                    <ion-icon name="close-outline" slot="start"></ion-icon>
                    Cancelar
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
